@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d;
    Lilás: #5f2c82;

*/

:root {
    --cor-verde: #49a09d;
    --cor-verde-escuro: #3e8a87af;
    --cor-lilas: #8441b1;
    --cor-lilas-escuro: #432458;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor-lilas);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: var(--cor-lilas) url(../imagens/background.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo label {
    display: none;
}

form > div.campo {
    background-color: var(--cor-lilas);
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
}

form > div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 1.7em;
    width: 39px;
    padding: 4px 0px 5px 7px;
}

div.campo > input {
    background-color: var(--cor-verde);
    font-size: 1em;
    width: calc(100% - 43.4px);
    height: 100%;
    border: 2px solid var(--cor-lilas);
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-4px);
}

form > div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: var(--cor-verde);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor-verde-escuro);
}

form > a.botao{
    background-color: white;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-verde);
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid var(--cor-verde);   
}

form > a.botao:hover {
    background-color: var(--cor-verde-escuro)
}